<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous">
    </script>
    <script src="https://gyrophare.herokuapp.com/public/socket.io-client.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        html,body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <section id="container">
        <!-- Image and text -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                Remote Gyro
            </a>
        </nav>
        <div class="row mt-5">
            <div class="col-sm-12 d-flex flex-column justify-content-center align-items-center">
                <h2>Pilote ton gyrophare</h2>
                <p>Sah quel plaisir.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="alert alert-warning col-sm-12 d-flex justify-content-center" v-if="btnStatus == true" role="alert">
                Le bouton physique est actif.
            </div>
            <div class="alert alert-success col-sm-12 d-flex justify-content-center" v-else role="alert">
                Le bouton physique est inactif.
            </div>
            <div class="col-sm-12 d-flex justify-content-center" v-if="status == false">
                <button type="button" id="turnOn" @click="turnOn()" class="btn btn-outline-primary w-75">Turn On</button>
            </div>
            <div class="col-sm-12 d-flex justify-content-center" v-else>
                <button type="button" id="turnOff" @click="turnOff()" class="btn btn-outline-danger w-75">Turn Off</button>
            </div>
        </div>
    </section>
    <div class="card text-center mt-5">
        <div class="card-header">
          Version 0.1.0
        </div>
        <div class="card-body">
          <h5 class="card-title">Application groupe 6</h5>
          <p class="card-text">Créer par : TOLOIS / REVERSEZ / MARTINET</p>
          <a href="#" class="btn btn-primary">Voir plus</a>
        </div>
        <div class="card-footer text-muted">
          Il y a 2 jours.
        </div>
      </div>
      <script>
        new Vue({
           el: '#container',
           data(){
               return {
                   socket: null,
                   status:false,
                   btnStatus:false,
               }
           },
           mounted(){
            // this.socket = io('https://gyrophare.herokuapp.com/')
            this.socket = io('http://127.0.0.1:8080/')
            this.socket.on('connect', () => {
                console.log('connected to the remote server');
                this.socket.emit('getStatus');
                this.socket.once('getStatus',() => {
                });
            });
            // ! LightStatus
            this.socket.on('lightStatus',(data) => {
                console.log(data)
                switch(data.status) {
                    case 'on':
                        this.status = true;
                        break;
                    case 'off':
                        this.status = false;
                        break;
                }
            })
            // ! BtnStatus
            this.socket.on('btnStatus',(data) => {
                console.log(data)
                switch(data.status) {
                    case 0:
                        this.status = true;
                        this.btnStatus = true;
                        break;
                    case 1:
                        this.status = false;
                        this.btnStatus = false;
                        break;
                }
            })
           },
           methods:{
               turnOff(){
                   this.socket.emit('turnOff');
               },
               turnOn(){
                   this.socket.emit('turnOn');
               }
           }
        })
      </script>
</body>

</html>